<div class="container">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			    	<span class="sr-only">Toggle navigation</span>
			    	<span class="icon-bar"></span>
			    	<span class="icon-bar"></span>
			    	<span class="icon-bar"></span>
				</button>
				<!--<div class="padding-5"><a class="navbar-brand no-padding" href="#"><img src="/assets/businessman233.png" class="icon-medium" /></a></div-->
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/"><img src="/assets/house28.png" class="icon-tiny" />Home</a></li>
					<li class=""><a href="/blog/show"><img src="/assets/books2.png" class="icon-tiny" />Blog</a></li>
				</ul>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Link</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>	
	<div class="row">
		<div class="col-md-3 panel panel-default center-contents padding-10 mgn-top-5">
			<img src="/assets/conner.png" class="img-circle portfolio-img large-img" alt="Picture of <%= @name %>" title="Picture of <%= @name %>">
			<h4 class="margin-base-vertical"><%= @name %></h4></br>
			<p><a href="https://www.github.com/<%= @username %>"><img class="icon-small" src="/assets/fluidicon.png" /><%= @username %></a></p>
			<p><a href="mailto:<%= @email %>"><img class="icon-small" src="/assets/black-email.png" /><%= @email %></a></p>
			</br><h6 class="margin-base-vertical">GitHub Repos and Repos Contributed to: </h6>
			<% @repos.each do |element| %>
				<% if element.text %>
					<a href="https://www.github.com/<%= @username %>/<%= element.text.gsub(/\s+/, "") %>" alt="<%= element.text.gsub(/\s+/, "") %>" title="<%= element.text.gsub(/\s+/, "") %>"><%= element.text.gsub(/\s+/, "") %></a></br>
				<% end %>
			<% end %></br>

			<div class="margin-base-vertical">
				<small class="text-muted">Copyright © <%= @name %> <%= Time.now.year.to_s %></small>
			</div>
		</div>
		<div class="col-md-9 panel panel-default padding-10 mgn-top-5 standard-height">
			
		</div>
	</div>
</div>